[submodule "multi/vim/bundle/git-vim"]
	path = multi/vim/bundle/git-vim
	url = git@github.com:pydave/git-vim.git
[submodule "multi/vim/bundle/snipmate"]
	path = multi/vim/bundle/snipmate
	url = git@github.com:pydave/snipmate.vim.git
[submodule "multi/vim/bundle/surround"]
	path = multi/vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
