[submodule "multi/vim/.vim/bundle/git-vim"]
	path = multi/vim/.vim/bundle/git-vim
	url = git@github.com:pydave/git-vim.git
[submodule "multi/vim/.vim/bundle/snipmate"]
	path = multi/vim/.vim/bundle/snipmate
	url = git@github.com:pydave/snipmate.vim.git
