[submodule "multi/vim/bundle/slime"]
	path = multi/vim/bundle/slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "multi/vim/bundle/snipmate"]
	path = multi/vim/bundle/snipmate
	url = git@github.com:pydave/snipmate.vim.git
[submodule "multi/vim/bundle/surround"]
	path = multi/vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "multi/vim/bundle/asynccommand"]
	path = multi/vim/bundle/asynccommand
	url = git@github.com:pydave/AsyncCommand.git
[submodule "multi/vim/bundle/gundo"]
	path = multi/vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "multi/vim/bundle/fugitive"]
	path = multi/vim/bundle/fugitive
	url = git@github.com:pydave/vim-fugitive.git
[submodule "multi/vim/bundle/gitv"]
	path = multi/vim/bundle/gitv
	url = git@github.com:pydave/gitv.git
[submodule "unix/terminal/bashmarks"]
	path = unix/terminal/bashmarks
	url = git@github.com:pydave/bashmarks.git
[submodule "multi/vim/bundle/repeat"]
	path = multi/vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "multi/vim/bundle/ack"]
	path = multi/vim/bundle/ack
	url = git@github.com:pydave/vim-ack.git
[submodule "multi/vim/bundle/xmledit"]
	path = multi/vim/bundle/xmledit
	url = git@github.com:pydave/xmledit.git
[submodule "multi/vim/bundle/OmniCppComplete"]
	path = multi/vim/bundle/OmniCppComplete
	url = git://github.com/vim-scripts/OmniCppComplete.git
[submodule "multi/vim/bundle/perforce"]
	path = multi/vim/bundle/perforce
	url = git@github.com:pydave/vim-perforce.git
[submodule "multi/vim/bundle/snipmate-snippets"]
	path = multi/vim/bundle/snipmate-snippets
	url = git@github.com:pydave/snipmate-snippets.git
[submodule "multi/vim/bundle/tlib"]
	path = multi/vim/bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule "multi/vim/bundle/mw-utils"]
	path = multi/vim/bundle/mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "multi/vim/bundle/yankstack"]
	path = multi/vim/bundle/yankstack
	url = git://github.com/maxbrunsfeld/vim-yankstack.git
[submodule "multi/vim/bundle/ctrlp"]
	path = multi/vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "multi/vim/bundle/ctrlp-funky"]
	path = multi/vim/bundle/ctrlp-funky
	url = git@github.com:pydave/ctrlp-funky.git
[submodule "multi/vim/bundle/ctrlp-register"]
	path = multi/vim/bundle/ctrlp-register
	url = git://github.com/mattn/ctrlp-register.git
[submodule "multi/vim/bundle/renamer"]
	path = multi/vim/bundle/renamer
	url = git@github.com:pydave/renamer.vim.git
[submodule "multi/vim/bundle/tabular"]
	path = multi/vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "multi/vim/bundle/textobj-word-column"]
	path = multi/vim/bundle/textobj-word-column
	url = git://github.com/coderifous/textobj-word-column.vim.git
[submodule "multi/vim/bundle/speeddating"]
	path = multi/vim/bundle/speeddating
	url = git@github.com:pydave/vim-speeddating.git
[submodule "multi/vim/bundle/textconv"]
	path = multi/vim/bundle/textconv
	url = git@github.com:pydave/textconv.vim.git
[submodule "multi/vim/bundle/NrrwRgn"]
	path = multi/vim/bundle/NrrwRgn
	url = git://github.com/chrisbra/NrrwRgn.git
[submodule "multi/vim/bundle/VimOrganizer"]
	path = multi/vim/bundle/VimOrganizer
	url = git@github.com:pydave/VimOrganizer.git
[submodule "multi/vim/bundle/calendar"]
	path = multi/vim/bundle/calendar
	url = git@github.com:pydave/calendar-vim.git
[submodule "multi/vim/bundle/eunuch"]
	path = multi/vim/bundle/eunuch
	url = git@github.com:pydave/vim-eunuch.git
[submodule "multi/vim/bundle/pathogen"]
	path = multi/vim/bundle/pathogen
	url = git@github.com:pydave/vim-pathogen.git
[submodule "multi/vim/bundle/man"]
	path = multi/vim/bundle/man
	url = git@github.com:pydave/vim-man.git
[submodule "multi/vim/bundle/textobj-user"]
	path = multi/vim/bundle/textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "multi/vim/bundle/textobj-indent"]
	path = multi/vim/bundle/textobj-indent
	url = git://github.com/kana/vim-textobj-indent.git
[submodule "multi/vim/bundle/textobj-underscore"]
	path = multi/vim/bundle/textobj-underscore
	url = git://github.com/kana/vim-textobj-underscore.git
[submodule "multi/vim/bundle/operator-user"]
	path = multi/vim/bundle/operator-user
	url = git://github.com/kana/vim-operator-user.git
[submodule "multi/vim/bundle/operator-camelize"]
	path = multi/vim/bundle/operator-camelize
	url = git://github.com/tyru/operator-camelize.vim.git
[submodule "multi/vim/bundle/itchy"]
	path = multi/vim/bundle/itchy
	url = git@github.com:pydave/itchy.vim.git
[submodule "multi/vim/bundle/golden-ratio"]
	path = multi/vim/bundle/golden-ratio
	url = git://github.com/roman/golden-ratio.git
[submodule "multi/vim/bundle/powerline"]
	path = multi/vim/bundle/powerline
	url = git@github.com:pydave/vim-powerline.git
[submodule "multi/vim/bundle/powerline-sanity"]
	path = multi/vim/bundle/powerline-sanity
	url = git@github.com:pydave/powerline-sanity.git
[submodule "multi/vim/bundle/TailMinusF"]
	path = multi/vim/bundle/TailMinusF
	url = git@github.com:pydave/TailMinusF.git
[submodule "multi/vim/bundle/notgrep"]
	path = multi/vim/bundle/notgrep
	url = git@github.com:pydave/vim-notgrep.git
[submodule "multi/vim/bundle/LargeFile"]
	path = multi/vim/bundle/LargeFile
	url = git://github.com/vim-scripts/LargeFile.git
[submodule "multi/vim/bundle/diffusable"]
	path = multi/vim/bundle/diffusable
	url = git@github.com:pydave/vim-diffusable.git
[submodule "multi/vim/bundle/bufexplorer"]
	path = multi/vim/bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "multi/vim/bundle/ultisnips"]
	path = multi/vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
