[user]
	name = pydave
	email = pydave@gmail.com
	signingkey = D4D6822E
[github]
	user = pydave
	token = f5a89d4ec402edcb927fda7462b88774
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
    h = help
	st = status
	ci = commit
	br = branch
	ff = merge --ff-only
	co-branch = checkout
    purify = checkout
    refloginspect = log --walk-reflogs
    resolve = add
    diff-staged = diff --cached
    piecemeal = add --patch
    unstage = reset
    substat = submodule foreach "git status && echo"

    what = whatchanged
    who = shortlog -s --
    graph = log --graph --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset'
    histlog = log --pretty=format:\"%C(red)%h%C(reset) %C(blue)%an%C(reset), %C(green)%cr%Creset : %s\"
    changelog = log --abbrev-commit --pretty=short --stat

    # find urls for the current git repo
    hublist = !git remote -v | sed -e"'s#git@\\([^:]*\\):#git://\\1/#;s#.*\\(git\\|https\\?\\):\\(.*\\).git.*#https:\\2#'" | uniq
    #   uses 2 sed substitutions:      ^-- change ssh to readonly     ^-- fix protocol and pull out url
    # open all urls for the current git repo
    hub = "!git hublist | while read url ; do xdg-open $url ; done"
	subupdate = "! git submodule sync ; git submodule update --init"


[merge]
	tool = meld
[diff]
	renames = copies
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[giggle]
	compact-mode = false
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	main-window-view = HistoryView
[branch]
	autosetupmerge = true
[web]
	browser = chromium-browser
[difftool]
	prompt = false
[mergetool]
	prompt = false
