[user]
    name = pydave
    email = pydave@gmail.com
    signingkey = D4D6822E
[include]
    # Do not store github or giggle information in this file! Instead, store
    # them in a computer-local config file.
    path = ~/.gitconfig.local
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[alias]
    h = help
    st = status
    ci = commit
    br = branch
    ff = merge --ff-only
    purify = checkout
    refloginspect = log --walk-reflogs
    diff-staged = diff --cached
    piecemeal = add --patch
    unstage = reset HEAD --
    substat = submodule foreach "git status || :"
    # Pass the commit you want to squash/fixup with.
    commit-fixup-with = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
    commit-squash-with = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -

    what = whatchanged
    who = shortlog -s --
    graph = log --graph --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset'
    histlog = log --pretty=format:\"%C(red)%h%C(reset) %C(blue)%an%C(reset), %C(green)%cr%Creset : %s\"
    changelog = log --abbrev-commit --pretty=short --stat

    # find urls for the current git repo
    hublist = !git remote -v | sed -e"'s#git@\\([^:]*\\):#git://\\1/#;s#.*\\(git\\|https\\?\\):\\(.*\\).git.*#https:\\2#'" | uniq
    #   uses 2 sed substitutions:      ^-- change ssh to readonly     ^-- fix protocol and pull out url
    # open all urls for the current git repo
    hub = "!git hublist | while read url ; do xdg-open $url ; done"
    subupdate = "! git submodule sync ; git submodule update --init --recursive ; git submodule foreach --recursive git use-branch-if-already-there master"
    # If only one commit head and input branch are the same so switch to input.
    use-branch-if-already-there = "!f() { branch=$1 ; n_commits=$(git show --oneline --no-patch $branch HEAD 2> /dev/null | wc -l) ; if [ $n_commits -eq 1 ] ; then git checkout $branch ; else git branch ; fi }; f"


[merge]
    tool = meld
[diff]
    renames = copies
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
[branch]
    autosetupmerge = true
[web]
    browser = chromium-browser
[difftool]
    prompt = false
[mergetool]
    prompt = false
[difftool "beyond"]
    cmd = difftool.beyond.git.sh $LOCAL $REMOTE $BASE
[mergetool "beyond"]
    cmd = mergetool.beyond.git.sh $LOCAL $REMOTE $BASE $MERGED
[difftool "gvim"]
    cmd = difftool.gvim.git.sh $LOCAL $REMOTE $BASE
[mergetool "gvim"]
    cmd = mergetool.gvim.git.sh $LOCAL $REMOTE $BASE $MERGED

# vim:sw=4:et:
