cscope.*
.DS_STORE
.mypy_cache
.pytest_cache
*~
*.pyc

# Vim swap file for files
[._]*.sw[a-p]
# Vim swap file for directories
[._]sw[a-p]
# Vim undo
[._]*.un~

filelist
filelist.luaonly
tags
lua.tags
.ropeproject
en.latin1.add.spl
obj/
*.vspscc
.sconsign.dblite
